// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-size: 14px;
  font-family: Playfair Display SC, serif;
}

h1 {
  font-size: 24px;
  font-family: Playfair Display SC, serif;
}
